<center>
    <img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/Logos/organization_logo/organization_logo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

#### Add your code below following the instructions given in the course

# My Jupyter Notebook on IBM Watson Studio

**Heidi Amanda Kroon**

Intern

*I am interested in Data Science because I like to discover useful insights behind data that can be used to make business decisions.*

### The code below returns a statement that tells if the inputed number is more or less than 50.

In [5]:
number = 30

if (number >= 50):
    print("The number is more than 50.")
else:
    print("The number is less than 50.")

The number is less than 50.

* Bulleted list point 1
* Bulleted list point 2
* Bulleted list point 3
* Bulleted list point 4
* Bulleted list point 5

***

1. Numbered list point 1
1. Numbered list point 2
1. Numbered list point 3
1. Numbered list point 4
1. Numbered list point 5

***

Column 1 | Column 2 | Column 3
--- | --- | --- |
row 1 | row 1 | row 1
row 2 | row 2 | row 2